<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--检查系统是否运行的周期，单位：秒-->
    <add key="RestSeconds" value="5"/>
    <!--检查系统是否运行正常的周期（检查数据是否有更新），单位：分钟-->
    <add key="CheckMinutes" value="5"/>
    <!--操作日志有效期，单位为：天-->
    <add key="LogOutdate" value="7"/>
    <!--[解决数采白屏问题]工控机重启，系统首次启动所等待的时间，单位：秒-->
    <add key="WaittingTimeForFirstRun" value="90"/>

    <!--要守护的系统的名称，用于看门狗标题显示-->
    <add key="SystemName" value="空气质量自动站数据采集与自动质控系统"/>
    <!--检查的系统的路径，同一路径的系统只能运行一个实例-->
    <add key="SystemPath" value="|DataDirectory|\..\AQM\sysu.AQM.CM.exe"/>
    <!--系统更新程序的路径-->
    <add key="UpdateProcessPath" value="|DataDirectory|\..\UpdateApp_New\sysu.AQM.Update.exe"/>

    <!--看门狗运行模式：0，通用（不检查数据更新情况）；1，专用-->
    <add key="Mode" value="0"/>

    <!--测试模式：0，关闭；1，开启-->
    <add key="TestMode" value="0"/>
    <!--检查更新周期，单位为：分钟-->
    <add key="CheckupUpdate" value="3"/>
    <!--不检查自动更新-->
    <add key="NotCheckUpdate" value="True"/>
    <!--监测定值-->
    <add key="CheckFixValue" value="False"/>
  </appSettings>
</configuration>