<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
    <section name="keylib_default_session_factory" type="KeyLib.Data.SessionFactoryConfigurationSection, KeyLib.Data" />
  </configSections>
  <appSettings>
    <add key="任务库根目录" value="\任务库" />
    <add key="任务备用库地址" value="\Tmpt" />
    <add key="任务信息库地址" value="\任务信息" />
    <add key="任务脚本库地址" value="\任务脚本" />
    <add key="全局参数" value="\全局参数" />
    <add key="任务结果地址" value="\任务结果" />
    <add key="保存库地址" value="\保存库" />
    <add key="项目显示序列" value="so2,co,no,nox,no2,o3,pm10,pm2.5,pm1,CO2,CH4,风速,风向,气温,湿度,气压,降水强度" />
    <add key="任务编译引用DLL" value="sysu.AQM.MonitorBase.dll|System.Data.Dll|System.Drawing.dll|System.Core.dll|System.Xml.Linq.dll|System.dll|System.Xml.dll|System.Xml.Linq.dll|mscorlib.dll|TaskBase.dll|Sampler.Monitoring.dll|Sampler.Framework.dll|System.Windows.Forms.dll" />
    <add key="QCReportPath" value="|DataDirectory|\质控报表" />
    <add key="DBBackupPath" value="C:\DBBackup\" />
    <add key="DBBackupTime" value="48" />
    <add key="RunTimeMin" value="360" />
    <add key="ConfigFile" value="C:\EnviData\Config.ini" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="synchronize_with_platform" value="false" />
    <add key="wait_seconds_on_system_startup" value="30" />
    <add key="qc_port" value="0" />
    <add key="kms" value="" />
    <add key="daemonName" value="EnvDaemon.exe" />
    <add key="start_daemon" value="true" />
    <add key="CheckMinutes" value="10" />
    <add key="auto_run" value="True" />
    <add key="avgCal" value="风速,风向,降水强度,蒸发率,日照,能见度,太阳辐射" />
    <add key="avgCalDelMaxMin" value="气压,气温,湿度" />
    <add key="countCal" value="降水强度;降水量,蒸发率;蒸发量,日照;日照时数" />
    <add key="avgMoveCal" value="风速,风向" />
    <add key="useMetLimit" value="气压,气温,湿度,风向,风速,降水量,降水强度,蒸发量,蒸发率,日照时数,日照,能见度,太阳辐射," />
    <add key="GH" value="CO2,CH4" />
    <add key="TaskOverTime" value="6" />
    <add key="DeleteLogInterval" value="200" />
    <add key="MinPress" value="50000" />
    <add key="GuardDevIns" value="True" />
    <add key="RealDataKeepDays" value="10" />
    <add key="RealInsKeepDays" value="20" />
  </appSettings>
  <connectionStrings>
    <add name="CheckApp.Properties.Settings.GASSYS_DataConnectionString" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\GASSYS_Data.mdf;Integrated Security=True;User Instance=True" providerName="System.Data.SqlClient" />
    <add name="sysu.AQM.CM.GASSYSConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=C:\EnviData\GASSYS.mdb;Persist Security Info=True" providerName="System.Data.OleDb" />
  </connectionStrings>
  <!-- This section contains the log4net configuration settings -->
  <log4net>
    <!--Log信息存放在文件-->
    <appender name="rollingFile" type="log4net.Appender.RollingFileAppender,log4net">
      <!--日志目录-->
      <param name="File" value="Log\system.log" />
      <param name="AppendToFile" value="true" />
      <!--日志文件大小-->
      <param name="MaximumFileSize" value="3MB" />
      <param name="RollingStyle" value="Composite" />
      <param name="DatePattern" value="yyyy.MM.dd" />
      <param name="StaticLogFileName" value="true" />
      <!--每天最多生成的日志文件数-->
      <param name="MaxSizeRollBackups" value="24" />
      <layout type="log4net.Layout.PatternLayout,log4net">
        <param name="ConversionPattern" value="%d [%t] %-5p %c [%x] &lt;%X{auth}&gt; - %m%n" />
      </layout>
    </appender>
    <!-- Setup the root category, add the appenders and set the default priority -->
    <root>
      <priority value="ERROR" />
      <!-- <appender-ref ref="EChonUdpAppender" /> -->
      <appender-ref ref="rollingFile" />
    </root>
  </log4net>
  <!--wcf服务-->
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IUserActionService" />
        <binding name="BasicHttpBinding_IUserActionService1" />
        <binding name="BasicHttpBinding_IStationValidateService" openTimeout="00:00:10" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://15.0.0.6:85/UserActionService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUserActionService" contract="UserActionService.IUserActionService" name="BasicHttpBinding_IUserActionService" />
      <endpoint address="http://113.108.142.147:20035/CnemcUserAction/UserActionService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUserActionService1" contract="UserActionServiceOut.IUserActionService" name="BasicHttpBinding_IUserActionService1" />
      <endpoint address="http://15.0.0.6:8110/StationValidateService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IStationValidateService" contract="StationValidateService.IStationValidateService" name="BasicHttpBinding_IStationValidateService" />
    </client>
  </system.serviceModel>
  <keylib_default_session_factory DatabaseType="SqlServerNewer" ConnectionString="data source=DESKTOP-QHTC0R0\SQLEXPRESS;initial catalog=AQMDB;integrated security=true;connect timeout=3;" />
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="ICSharpCode.SharpZipLib" publicKeyToken="1b03e6acf1164f73" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.85.4.369" newVersion="0.85.4.369" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>